{% extends 'base.html' %}
{% load static %}
{% block main %}
{% if message %}
<div class="alert alert-dark" id='alert' role="alert">
    {{message}}
</div>
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
    .cover-container {
        background-image: url("{% static 'img/food/port3.jpeg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: white;
    }
</style>
<div class="cover-container">
    <div class="container">
        <h1>Welcome to Pinocchio's Pizza & Subs</h1>
        <p>We sell award-winning Sicilian-style pizza and mouth-watering steak subs!</p>
        <a href="#Menu">
            <button>Menu
                <div class="star-1">
                    <img src="{% static '/img/svgs/star1.svg' %}" class="star-1">
                </div>
                <div class="star-2">
                    <img src="{% static '/img/svgs/star2.svg' %}" class="star-2">
                </div>
                <div class="star-3">
                    <img src="{% static '/img/svgs/star3.svg' %}" class="star-3">
                </div>
                <div class="star-4">
                    <img src="{% static '/img/svgs/star4.svg' %}" class="star-4">
                </div>
                <div class="star-5">
                    <img src="{% static '/img/svgs/star5.svg' %}" class="star-5">
                </div>
                <div class="star-6">
                    <img src="{% static '/img/svgs/star6.svg' %}" class="star-6">
                </div>
            </button>
        </a>
    </div>
</div>

<div class="Container-Menu" id='Menu'>
    <h2 style='text-align: center;'>Menu</h2>
    <hr>
    <div class="xd">
        {%for ct in Category%}
        <div class="container-ct">
            <a href="/category/food/{{ct.id}}">
                <input type="button" class='btcat' value="{{ct.name_category}}">
            </a>
        </div>
        {%endfor%}
    </div>
    <div class="cat">
        {% for food in Food_Inf %}
        <div class="categorias" style='width: 20rem;height: 30rem;'>
            <span class='btncat'>{{food.size_food__name_size}}</span>
            <div class="card" style="width: 20rem;height: 30rem;">
                <input type="hidden" name="category_id" value='{{food.category_id}}'>
                    <img src="{{ food.image_food }}" class="card-img-top" alt="Food Image">
                <div class="card-body">
                    <h5 class="card-title">{{food.name_food}}</h5>
                    <p class="card-text">{{food.description}}.</p>
    
                    <!--!Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick='reset()'
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="product-container">
                                        <!--!Contenedor de la imagen del producto -->
                                        <div class="container-img">
                                            <img src="" alt="Food-Img" id="imgfood">
                                        </div>
                                        <!--!Contenedor de la información -->
                                        <div class="container-inf">
                                            <!--!Tamaño -->
                                        <div class="list-size">
                                            <h4>Size</h4>
                                            <div class="form-check" onclick="totalprice('{{food.id}}')">
                                                <input class="form-check-input" type="radio" name="sizeRadio" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1" id='large'></label>
                                            </div>
                                            <div class="form-check" onclick="totalprice('{{food.id}}')">
                                                <input class="form-check-input" type="radio" name="sizeRadio" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2" id='small'></label>
                                            </div>
                                        </div>

                                            <!--!Cantidad-->
                                            <div class="cantidad">
                                                <h4>Cantidad</h4>
                                                <input type="number" id="cantidad" name="cantidad" min="1" max="30" onclick="totalprice('{{food.id}}')">
                                            </div>
                                            <!--!Complementos -->
                                            <div class="list-toppings" onclick="totalprice('{{food.id}}')">
                                                <h4>Toppings</h4>
                                                <div class="form-check" id='toppings'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style='justify-content: space-between;'>
                                        <span id='price'><strong>Price: </strong>c$0:00</span>
                                        <div class="options">
                                            <button type="button" class="btn btn-secondary" onclick='reset()'
                                                data-bs-dismiss="modal">Close</button>
                                                <button type=" button" class="btn btn-dark" id='cart'> <i class="bi bi-cart4"></i>
                                                    Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--!Button trigger modal -->
            <div onclick="info_food('{{food.id}}' , '{{food.category_id}}')" data-tooltip="Price:{{food.small_price}}"
                class="button" id='btnorder' data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="button-wrapper">
                    <div class="text">Buy</div>
                    <span class="icon">
                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}

