{% extends 'base.html' %}
{% load static %}
{% block main %}
{% if message %}
<div class="alert alert-dark" id='alert' role="alert">
    {{message}}
</div>
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
    .cover-container {
        background-image: url("{% static 'img/food/port3.jpeg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: white;
    }
</style>
<div class="cover-container">
    <div class="container">
        <h1>Welcome to Pinocchio's Pizza & Subs</h1>
        <p>We sell award-winning Sicilian-style pizza and mouth-watering steak subs!</p>
        <a href="#Menu">
            <button>Menu
                <div class="star-1">
                    <img src="{% static '/img/svgs/star1.svg' %}" class="star-1">
                </div>
                <div class="star-2">
                    <img src="{% static '/img/svgs/star2.svg' %}" class="star-2">
                </div>
                <div class="star-3">
                    <img src="{% static '/img/svgs/star3.svg' %}" class="star-3">
                </div>
                <div class="star-4">
                    <img src="{% static '/img/svgs/star4.svg' %}" class="star-4">
                </div>
                <div class="star-5">
                    <img src="{% static '/img/svgs/star5.svg' %}" class="star-5">
                </div>
                <div class="star-6">
                    <img src="{% static '/img/svgs/star6.svg' %}" class="star-6">
                </div>
            </button>
        </a>
    </div>
</div>
<div class="hero_waves" style="overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,150.00 C149.99,-49.98 349.20,150.00 500.00,150.00 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #FEC195;"></path>
    </svg>
</div>

<div class="Container-Menu" id='Menu'>
    <h2 style='text-align: center;'>Menu</h2>
    <hr>
    <div class="xd">
        {%for ct in Category%}
        <div class="container-ct">
            <a href="/category/food/{{ct.id}}" class="btcat d-inline-block nounderline">
                {{ct.name_category}}
            </a>
        </div>
        {%endfor%}
    </div>
    <div class="cat">
        
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{%endblock%}

