{% extends "base.html" %}
{% load static %}
{% block main %}
<style>
    /* Estilo para la portada */
    .cover-container {
        background-image: url("{% static 'imgs/food/port3.jpeg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: white;
    }
</style>
<div class="cover-container">
    <div class="container">
        <h1>Pizzeria de tu preferencia</h1>
        <p>Elija el menu que mas te guste, para degustar de una pizza exquisita.</p>
    </div>
</div>

<div class="Container-Menu">
    <h2>Menu</h2>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'imgs/food/port2.jpg' %}" class="img-fluid rounded-start" alt="Food Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <h5 class='card-text'>$ 0.00</h5>
                    <h5 class='card-text'>Size</h5>
                    <p class="card-text">Description.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" >
                        Add a Store Car
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
