{%extends "base.html"%}
{%block main%}
{% if message %}
<div class="alert alert-dark" role="alert">
    {{message}}
</div>
{% endif %}
<div class="container-form"  style='padding: 0;'>
    <form class="form" action="{% url 'register' %}" method='post' style='max-width: 394px;'>
        <p class="title">Register </p>
        <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
            <label>
                <input class="input" type="text" name="firstname" required="">
                <span>Firstname</span>
            </label>
    
            <label>
                <input class="input" type="text" name="lastname" required="">
                <span>Lastname</span>
            </label>
        </div>
        <label>
            <input class="input" type="text" name="username" required="">
            <span>Username</span>
        </label>
        <label>
            <input class="input" type="email" name="email" required="">
            <span>Email</span>
        </label>
    
        <label>
            <input class="input" type="password" name="password" required="">
            <span>Password</span>
        </label>
        <label>
            <input class="input" type="password" name="confirmpassword" required="">
            <span>Confirm password</span>
        </label>
        <button class="submit">Submit</button>
        <p class="signin">Already have an acount ? <a href="/orders/templates/register.html">Signin</a> </p>
    </form>
</div>
{%endblock%}
