{%extends "base.html"%}
{%load static%}
{%block main%}
{% if message %}
<style>
    .container-form {
        background-color: aqua;
    }

    #footer {
        bottom:0;
    }

</style>
<div class="alert alert-dark" id='alert' role="alert">
    {{message}}
</div>
{% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<div class="container-form">
    <form method="post" action="{% url 'login' %}">
        <h1>Log in</h1>
        <hr>
        {% csrf_token %}
        <div class="user">
            <label for="username"><i class="bi bi-person-heart"></i></label>
            <input type="text" id="username" name="username" placeholder='Username' required><br><br>
        </div>
        <div class="user">
            <label for="password"><i class="bi bi-lock-fill"></i></label>
            <input type="password" id="password" name="password" placeholder='Password' required><br><br>
        </div>
        <hr>
        <input type="submit" value="Login">
        <p>Aun no tenes una cuenta? <a href="/register">Registrate!</a></p>
    </form>
</div>
{%endblock%}
